node_modules
dist
.DS_Store
*.log
.env
.env.local
.env.production
.env.render
together-backend/.env.render
screenshots/_test.png
together-backend/data
together-backend/.env
together-backend/data/together.sqlite
.vercel
.railway
